<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="_css/stylesheetdesktop.css">
	<title>Videos</title>
	
</head>
<body ng-app="myApplication" ng-controller="commonController">
	
	<div ng-controller="displayArticles">
		
		<header class="header">
			<span class="header-text">Latest Videos</span>
			
			<select ng-options="tag.value as tag.text for tag in categories" ng-model="selected" ng-selected='filterByCategory(selected)' style="float: right; margin-right: 10px;"></select>
		
		</header>
		<div>
			
			<div class="video-content" id="main-content" >
				<div ng-repeat="video in dataToBeDisplayed track by $index" style="display: inline-block;">

					<video-element></video-element>

				</div>
			</div>
		</div>
		<nav class="navbar" ng-controller="Pagination">

			<button-element></button-element>

		</nav>

	</div>

	
	<script type="text/javascript" src="_app/angular.js"></script>
	<script type="application/javascript" src="_app/app.js"></script>
	<script type="application/javascript" src="_app/loader.js"></script>
	<script type="application/javascript" src="_app/commonController.js"></script>
	<script type="application/javascript" src="_app/directives.js"></script>
	<script type="application/javascript" src="_app/pagination.js"></script>
	<script type="application/javascript" src="_app/displayArticles.js"></script>
</body>
</html>
