img {
	width: 96%;
	margin-top: 5px;
	margin-left: 2%;
}

.header{
	background: #0073d9; /* Old browsers */
	background: -moz-linear-gradient(top, #0073d9 0%, #004285 91%, #003572 94%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0073d9), color-stop(91%,#004285), color-stop(94%,#003572)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #0073d9 0%,#004285 91%,#003572 94%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #0073d9 0%,#004285 91%,#003572 94%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #0073d9 0%,#004285 91%,#003572 94%); /* IE10+ */
	background: linear-gradient(to bottom, #0073d9 0%,#004285 91%,#003572 94%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0073d9', endColorstr='#003572',GradientType=0 ); /* IE6-9 */
	color: white;
	height: 2em;
	padding-top: 0.5em;
	width: 100%;
}

.overlay{
	background-color: rgba(0,0,0,0.7);
	height: inherit;
	width: inherit;
	position: absolute;
	z-index: 1000;
	visibility: hidden;
	color: white;
	text-align: center;
	font-family: arial;
	font-size: 1em;
}

.header-text{
	font-family: arial;
	text-transform: uppercase;
	padding-left: 1%;
}

.video-content{
	float: left;
	min-height: 38em;
	border: 1px solid rgba(0, 0, 0, 0.5);
	border-style: inset;
}

.video{
	float: inherit;
	width: 20em;
	height: 17em;
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.3);
	margin-top: 10px;
	margin-left: 7px;
	position: relative;
	
}
.video:hover .overlay{
	visibility: visible;
}

.videoTitle{
	font-family: arial;
	color:#013e81;
	font-size: 0.9em;
	margin-left: 1em;
	font-weight: bold;
	position: absolute;
	top:13em;
}

.fav{
	width: 15%;
	height: 15%;
	position: absolute;
	bottom: 5%;
	right: 5%;
	cursor: pointer;
}

.date{
	font-family: arial;
	color: gray;
	font-size: 0.7em;
	margin-left: 1.5em;
	bottom: 0.5em;
	display: inline-block;
	position: absolute;
}

.play-button {
	background: url('play_button.png') center center no-repeat;
	background-size: 20%;
	background-repeat: no-repeat;
	height: 80%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 500;
	background-size: 15%;
}

.video-still-package{
	width: inherit;
	height: inherit;
	position: relative;
}
.still{
	height: 70%;

}
.truncate {
	width: 90%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#prevbtn{
	width: 123px;
	height: inherit;
/*	text-indent: 12px;*/
	display: inline-block;
	color: white;
	background-color: #005eb5;
	background-repeat: no-repeat;
	background-size: 70%;
	background-position:center;
	opacity: 0.4;
	border-bottom-left-radius: 25px 25px;
	border-top-left-radius: 25px 25px;
	border-bottom-right-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	font-family: arial;
	line-height: 2.5em;
	cursor: pointer;
	margin-right: 10%;
	visibility: visible;


}

#prevbtn:hover{
	opacity: 1;
}

#pgbtn{
	position: relative;
	display: inline-block;
	text-align: center;
	vertical-align: top;
	cursor: pointer; cursor: hand;
	font-weight: 600;
	min-width: 20%;
	visibility: visible;
}

#nextbtn{
	width: 123px;
	height: inherit;
	text-indent: 30px;
	display: inline-block;
	color: white;
	background-color: #005eb5;
	background-repeat: no-repeat;
	background-size: 70%;
	background-position:center;
	opacity: 0.4;
	border-bottom-right-radius: 25px 25px;
	border-top-right-radius: 25px 25px;
	border-bottom-left-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	font-family: arial;
	line-height: 2.5em;
	text-align: left;
	cursor: pointer;
	margin-left: 10%;
	visibility: visible;

}

#nextbtn:hover{
	opacity: 1;
}

#loadMoreBtn{
	display: none;
}
.navbar{
	position: relative;
	width: 100%;
	height: 2.5em;
	display: inline-block;
	top: 10px;
	text-align: center;
}

.navitemsActive{
	width: 2em;
	height: 2.5em;
	background-color: rgb(0, 94, 181);
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	line-height: 2.5em;
	font-family: arial;
	color: white;
	font-size: 1em;
	border-radius:7px;
	opacity: 0.4;
	margin-left: 2px;
	margin-right: 2px;
}

.navitems:hover{
	opacity: 1;
	background-color: rgb(0, 94, 181);
	color: white;
}
.threeLittleDots{
	display: inline-block;
	color:rgb(0, 94, 181);
}
.navitemsInactive{
	width: 2em;
	height: 2.5em;
	background-color: rgba(0, 94, 181,0.1);
	background-size: 100%;
	background-repeat: no-repeat;
	display: inline-block;
	line-height: 2.5em;
	font-family: arial;
	color:#005eb5;
	font-size: 1em;
	border-radius:7px;
	opacity: 1;
	margin-left: 2px;
	margin-right: 2px;

}


.navitemsInactive:hover{
	background-color: rgb(0, 94, 181);
	color: white;
}

.text-middle{
	vertical-align: middle;	
}

.textblock{
		display: inline-block;
		vertical-align: middle;
	}

.tags{
	height: 1.5em;
	width:7.5em;
	background-color: white;
	color: black;
	-moz-border-radius: 2em 2em 2em 2em;
	border-radius: 2em 2em 2em 2em;
	margin:auto;
	font-family: arial;
	text-transform: lowercase;
	opacity: 0.6;
	cursor: pointer;
}


@media screen and (max-width: 690px) {
	.video-content{
		float: left;
		height: auto;
	}

	.video{
		float: inherit;
		width: 98%;
		height: 30%;
		background-color: white;
		border-style: solid;
		border-color: gray;
		border-width: 1px;
		margin-top: 5px;
		margin-left: 5px;
		position: relative;
	}

	.video-still-package{
		width: 40%;
		height: auto;
		position: relative;
		display: inline-block;

	}
	.play-button {
		background: url('play_button.png') center center no-repeat;
		background-size: 20%;
		background-repeat: no-repeat;
		height: 80%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 500;
	}

	.videoTitle{
		font-family: arial;
		color: #013e81;
		font-size: 1.3em;
		margin-left: 1em;
		font-weight: bold;
		top: 0;

	}

	.date{
		font-family: arial;
		color: gray;
		font-size: 0.7em;
		margin-left: 1.5em;
		
		display: inline-block;
		position: relative;
	}
	.textblock{
		display: inline-block;
		vertical-align: middle;
	}
	.overlay{
		/*background-color: rgba(0,0,0,0.7);
		position: absolute;
		z-index: 1000;
		height: 100%;*/
		display: none;
	}
	.truncate {
		width: 50%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.tags{
		display: inline-block;
		height: 40%;
		line-height: 0.2em;
		margin: 5px;

	}
	#nextbtn{
		/*visibility: hidden;*/
		display: none;
	}
	#pgbtn{
		/*visibility: hidden;*/
		display: none;
	}
	#prevbtn{
		/*visibility: hidden;*/
		display: none;
	}
	#loadMoreBtn{
		background-color: #07D;
		/*visibility: visible;*/
		display: initial;
		color: #FFF;
		width: 25%;
		font-weight: bolder;
		padding: 10px;
		font-family: arial;
		margin: auto;
		cursor: pointer;
	}