img {
	width: 96%;
	margin-top: 5px;
	margin-left: 2%;
}

.header{
	background: #7db9e8;
	background: -moz-linear-gradient(top,  #7db9e8 0%, #7db9e8 0%, #1e5799 96%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(0%,#7db9e8), color-stop(96%,#1e5799)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #7db9e8 0%,#7db9e8 0%,#1e5799 96%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #7db9e8 0%,#7db9e8 0%,#1e5799 96%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #7db9e8 0%,#7db9e8 0%,#1e5799 96%); /* IE10+ */
	background: linear-gradient(to bottom,  #7db9e8 0%,#7db9e8 0%,#1e5799 96%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
	color: white;
	height: 2em;
	padding-top: 1em;
	width: 100%;
}

.overlay{
	background-color: rgba(0,0,0,0.7);
	height: inherit;
	width: inherit;
	position: absolute;
	z-index: 1000;
	visibility: hidden;
	color: white;
	text-align: center;
	font-family: arial;
	font-size: 1em;
}

.header-text{
	font-family: arial;
	text-transform: uppercase;
	padding-left: 2%;
}

.align-left{
	float: left;
}

.video{
	float: inherit;
	width: 20em;
	height: 17em;
	background-color: white;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	margin-top: 5px;
	margin-left: 5px;
	position: relative;
}
.video:hover .overlay{
	visibility: visible;
}

.titulok{
	font-family: arial;
	color:#0889FD;
	font-size: 1em;
	margin-left: 1em;
	font-weight: bold;
	position: absolute;
	bottom: 2em;
}

.date{
	font-family: arial;
	color: gray;
	font-size: 0.7em;
	margin-left: 1.5em;
	bottom: 0.5em;
	display: inline-block;
	position: absolute;;
}

.play-button {
	background: url('play_button.png') center center no-repeat;
	background-size: 20%;
	background-repeat: no-repeat;
	height: 80%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 500;
}

.video-still-package{
	width: inherit;
	height: inherit;
	position: relative;
}

@media screen and (max-width: 690px) {
	.video{
		float: inherit;
		width: 100%;
		height: 30%;
		background-color: white;
		border-style: solid;
		border-color: gray;
		border-width: 1px;
		margin-top: 5px;
		margin-left: 5px;
		position: relative;
	}

	.video-still-package{
		width: 40%;
		height: auto;
		position: relative;
		display: inline-block;

	}
	.play-button {
		background: url('play_button.png') center center no-repeat;
		background-size: 20%;
		background-repeat: no-repeat;
		height: 80%;
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 500;
	}

	.titulok{
		font-family: arial;
		color:#0889FD;
		font-size: 1em;
		margin-left: 1em;
		font-weight: bold;
		top: 1em;

	}

	.date{
		font-family: arial;
		color: gray;
		font-size: 0.7em;
		margin-left: 1.5em;
		bottom: 0.5em;
		display: inline-block;
		position: relative;
	}
	.textblock{
		display: inline-block;
		vertical-align: middle;
	}
	.overlay{
		background-color: rgba(0,0,0,0.7);
		position: absolute;
		z-index: 1000;
		height: 100%;
	}